@import url('https://fonts.googleapis.com/css2?family=Work+Sans&family=Zilla+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@450&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@350&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(245, 245, 245);
}

.dec-none{
  text-decoration: none;
}

.Gumb-Nazad{
  font-family: 'Rubik';
  display: flex;
  border: none;
  margin-left: 1.5vw;
  width: 100%;
  height: 3.5vw;
  font-size: 1.7vw;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 183, 255);
}
.Gumb-Nazad:hover{
  opacity: 0.5;
  cursor: pointer;
}
.Gumb-Nazad:active{
  opacity: 1;
  color: rgb(255, 255, 255);
}

.Nazad{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(0, 183, 255);
  border-bottom-style: solid;
  border-bottom-width: 0.2vw;
}
.Sredina{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5vw;
  border: none;
}

.PSE{
  display: flex;
  border-bottom: solid;
  padding-bottom: 1vw;
  border-bottom-width: 0.2vw;
  margin-top: 1vw;
  padding: none;
  justify-content: space-evenly;
  align-items: center;
}

.IzPSEMetal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 0.4vw;
  width: 8.3vw;
  height: 8.3vw;

  background-color: #6495ED;
}
.IzPSENemetal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 0.4vw;
  width: 8.3vw;
  height: 8.3vw;

  background-color: #CCCCFF;
}
.IzPSEPolumetal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 0.4vw;
  width: 8.3vw;
  height: 8.3vw;

  background-color: #1ABC9C;
}

.AtomskiBroj{
  font-size: 1.4vw;
  margin-bottom: -0.6vw;
  font-family: 'work sans';
  font-weight: bold;
}
.Ime{
  font-size: 1.6vw;
  margin-top: -0.6vw;
  font-weight: bold;
  font-family: 'Zilla Slab';
}
.Relativna{
  font-size: 1.4vw;
  margin-top: -0.3vw;
  font-family: 'work sans';
  font-weight: bold;
}
.Simbol{
  font-size: 4vw;
  margin-top: -0.2vw;
  font-family: 'Zilla Slab';
}
.Simbol-Plin{
  font-size: 4vw;
  margin-top: -0.2vw;
  color: #ffffff;
  font-family: 'Zilla Slab';
}
.Simbol-Tekucina{
  font-size: 4vw;
  margin-top: -0.2vw;
  color: #f72fe6;
  font-family: 'Zilla Slab';
}

.Detalji{
  display: flex;
  margin-left: 1.3vw;
  text-size-adjust: none;

  /*border: solid;
  border-width: 0.1vw;*/
}
.L{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: solid;*/

  height: 9vw;
}
.D{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: solid;*/
  margin-left: 2vw;

  height: 9vw;
}
.SimbolPSE{
  font-size: 1.4vw;
  font-family: 'Rubik';
}
.BrojProtona{
  font-size: 1.4vw;
  font-family: 'Rubik';
}
.BrojElektorna{
  font-size: 1.4vw;
  font-family: 'Rubik';
}
.BrojNeutrona{
  font-size: 1.4vw;
  font-family: 'Rubik';
}
.Taliste{
  font-size: 1.4vw;
  font-family: 'Rubik';
}
.Vreliste{
  font-size: 1.4vw;
  font-family: 'Rubik';
}
.AtomskaMasa{
  font-size: 1.4vw;
  font-family: 'Rubik';
}
.AgregatnoStanje{
  font-size: 1.4vw;
  font-family: 'Rubik';
}
.Radio{
  font-size: 1.4vw;
  font-family: 'Rubik';
}
.Umjetan{
  font-size: 1.4vw;
  font-family: 'Rubik';
}

.O-elementu{
  display: flex;
}

.Pgraf{
  font-size: 1.3vw;
  font-family: 'Zilla Slab';
  font-weight: bold;
  margin-left: 2vw;
  margin-top: 1vw;
  line-height: 1.8vw;


  text-size-adjust: none; 
}


.CT{
  border: solid;
  width: 30vw;
  border-width: 0.2vw;
}

.Smjesa{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid;
  border-bottom-width: 0.2vw;
  height: 20%;

  font-size: 1vw;
  font-family: 'Rubik';
  /*font-weight: bold;*/
}
.Podatci1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid;
  border-bottom-width: 0.2vw;
  height: 19.3%;

  font-size: 1vw;
  font-family: 'Rubik';
  /*font-weight: bold;*/
}
.Podatci{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid;
  border-width: 0.1vw;
  height: 18.45%;

  font-size: 1vw;
  font-family: 'Rubik';
  /*font-weight: bold;*/
}
.I{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25%;
  height: 100%;
  text-size-adjust: none;
}
.S{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid;
  border-right-width: 0.1vw;
  border-left: solid;
  border-left-width: 0.1vw;

  width: 25%;
  height: 100%;
  text-size-adjust: none;
}
.O{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;
  text-size-adjust: none;
}
.IN{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid;
  border-right-width: 0.2vw;

  width: 25%;
  height: 100%;
  text-size-adjust: none;
}
.SN{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid;
  border-right-width: 0.2vw;

  width: 25%;
  height: 100%;
  text-size-adjust: none;
}
.ON{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;
  text-size-adjust: none;
}

.Minerali{
  border: solid;
  border-width: 0.25vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.Naslov{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  font-size: 1.6vw;
  border-bottom: solid;
  font-family: 'Rubik';
  font-weight: bold;

  border-bottom-width: 0.25vw;
}
.Raspodjela{
  display: flex;
  justify-content: space-around;
  border-bottom: solid;
  border-bottom-width: 0.25vw;
}

.ImeMin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8vw;
  font-size: 1.4vw;
  font-family: 'rubik';
  font-weight: bold;

  border-right: solid;
  border-right-width: 0.25vw;

  width: 25%;
}
.FormulaMin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8vw;
  font-size: 1.4vw;
  font-family: 'rubik';
  font-weight: bold;

  width: 50%;
}
.PostotakEle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8vw;
  font-size: 1.4vw;
  font-family: 'Rubik';
  font-weight: bold;

  border-left: solid;
  border-left-width: 0.25vw;

  width: 25%;
}

.ImeMinU{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  font-size: 1.4vw;
  font-family: 'Rubik';

  border-right: solid;
  border-width: 0.15vw;

  width: 25%;
}
.FormulaMinU{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  font-size: 1.4vw;
  font-family: 'Rubik';

  width: 50%;
}
.PostotakEleU{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  font-size: 1.4vw;
  font-family: 'rubik';

  border-left: solid;
  border-width: 0.15vw;

  width: 25%;
}

.RaspodjelaM{
  display: flex;
  justify-content: space-around;
  border-top: solid;
  border-top-width: 0.15vw;
}
.RaspodjelaPrvi{
  display: flex;
  justify-content: space-around;
}

/* test */

.JedanRed{
  display: flex;

  /*border: solid;*/
  /*border-width: 0.1vw;
  border-color: blue;*/
}
.Str{
  display: flex;
  align-items: center;
  font-size: 2vw;
  padding-right: 0.5vw;

  /*border: solid;
  border-width: 0.1vw;*/
}
.Str{
  display: flex;
  align-items: center;
  font-size: 2vw;
  padding-right: 0.5vw;
  height: 1.85vw;

  /*border: solid;
  border-width: 0.1vw;*/
}
.txt{
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.3vw;
  font-family: 'roboto slab';
  text-size-adjust: none;

  /*border: solid;
  border-width: 0.1vw;*/
}

.RaspodjelaNema{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2vw;
  font-size: 1.4vw;
  font-family: 'Rubik';
}

.Brojke{
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 1.2vw;
}