/* glowing button 3 */
.glowing-button3 {
  margin: 10px;
  position: relative;
  /*background-color: royalblue;
  box-shadow: 0 0 20px 0 royalblue;*/
  border: 2px solid rgb(70, 70, 70);
  padding: 0.55vw 1.5vw;
  background-color: rgb(51, 51, 51);
  transition: .4s;
  font-size: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  z-index: 0;
  font-weight: bold;
}

.glowing-button3::before {
  content: '';
  width: 100%;
  height: calc(50% + 1px);
  background-color: royalblue;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid royalblue;
  transition: .4s;
  /*box-shadow: 0 0 20px 0 royalblue;*/
  z-index: -1;
  width: 1vw;
  height: 0.25vw;
  top: -5px;
  left: 1vw;
  
  background-color: rgb(51, 51, 51);
}

.glowing-button3::after {
  content: '';
  width: 100%;
  height: calc(50% + 1px);
  background-color: royalblue;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 2px solid royalblue;
  transition: .4s;
  /*box-shadow: 0 0 20px 0 royalblue;*/
  z-index: -1;
  width: 1vw;
  height: 0.25vw;
  bottom: -5px;
  right: 1vw;
  background-color: rgb(51, 51, 51);
}

.glowing-button3:hover {
  background-color: rgb(51, 51, 51);
  color: royalblue;
  font-weight: bold;
  box-shadow: 0 0 20px 0 royalblue;
  border-color: royalblue;
}

.glowing-button3:hover::before {
  left: calc(100% - 2.6vw);
  width: 35px;
  box-shadow: 0 0 20px 0 royalblue;
}

.glowing-button3:hover::after {
  right: calc(100% - 2.6vw);
  width: 35px;
  box-shadow: 0 0 20px 0 royalblue;
}
/*Glowingbutton Middle*/
.glowing-button3-Middle {
  margin: 10px;
  position: relative;
  /*background-color: royalblue;
  box-shadow: 0 0 20px 0 royalblue;*/
  border: 2px solid rgb(70, 70, 70);
  padding: 0.55vw 1.5vw;
  background-color: rgb(51, 51, 51);
  transition: .4s;
  font-size: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  z-index: 0;
  font-weight: bold;
}

.glowing-button3-Middle::before {
  content: '';
  width: 100%;
  height: calc(50% + 1px);
  background-color: royalblue;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid royalblue;
  transition: .4s;
  /*box-shadow: 0 0 20px 0 royalblue;*/
  z-index: -1;
  width: 1vw;
  height: 0.2vw;
  top: -5px;
  left: 0.8vw;
  
  background-color: rgb(51, 51, 51);
}

.glowing-button3-Middle::after {
  content: '';
  width: 100%;
  height: calc(50% + 1px);
  background-color: royalblue;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 2px solid royalblue;
  transition: .4s;
  /*box-shadow: 0 0 20px 0 royalblue;*/
  z-index: -1;
  width: 1vw;
  height: 0.2vw;
  bottom: -5px;
  right: 0.8vw;
  background-color: rgb(51, 51, 51);
}

.glowing-button3-Middle:hover {
  background-color: rgb(51, 51, 51);
  color: royalblue;
  font-weight: bold;
  box-shadow: 0 0 20px 0 royalblue;
  border-color: royalblue;
}

.glowing-button3-Middle:hover::before {
  left: calc(100% - 2.1vw);
  width: 30px;
  box-shadow: 0 0 20px 0 royalblue;
}

.glowing-button3-Middle:hover::after {
  right: calc(100% - 2.1vw);
  width: 30px;
  box-shadow: 0 0 20px 0 royalblue;
}


/*Glowingbutton short*/
.glowing-button3-Short {
  margin: 10px;
  position: relative;
  /*background-color: royalblue;
  box-shadow: 0 0 20px 0 royalblue;*/
  border: 2px solid rgb(70, 70, 70);
  padding: 0.55vw 1.5vw;
  background-color: rgb(51, 51, 51);
  transition: .4s;
  font-size: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  z-index: 0;
  font-weight: bold;
}

.glowing-button3-Short::before {
  content: '';
  width: 100%;
  height: calc(50% + 1px);
  background-color: royalblue;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid royalblue;
  transition: .4s;
  /*box-shadow: 0 0 20px 0 royalblue;*/
  z-index: -1;
  width: 0.5vw;
  height: 0.2vw;
  top: -5px;
  left: 0.7vw;
  
  background-color: rgb(51, 51, 51);
}

.glowing-button3-Short::after {
  content: '';
  width: 100%;
  height: calc(50% + 1px);
  background-color: royalblue;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 2px solid royalblue;
  transition: .4s;
  /*box-shadow: 0 0 20px 0 royalblue;*/
  z-index: -1;
  width: 0.5vw;
  height: 0.2vw;
  bottom: -5px;
  right: 0.7vw;
  background-color: rgb(51, 51, 51);
}

.glowing-button3-Short:hover {
  background-color: rgb(51, 51, 51);
  color: royalblue;
  font-weight: bold;
  box-shadow: 0 0 20px 0 royalblue;
  border-color: royalblue;
}

.glowing-button3-Short:hover::before {
  left: calc(100% - 2vw);
  width: 25px;
  box-shadow: 0 0 20px 0 royalblue;
}

.glowing-button3-Short:hover::after {
  right: calc(100% - 2vw);
  width: 25px;
  box-shadow: 0 0 20px 0 royalblue;
}

@media screen and (max-width: 1399px) {
  .glowing-button3, .glowing-button3-Middle, .glowing-button3-Short{
    font-size: 1.2vh;
    padding: 0.8vw 1.2vw;
  }

  .glowing-button3-Middle::before,.glowing-button3-Middle::after{
    width: 1.3vw;
    height: 0.3vw;
  }
  .glowing-button3-Short::before,.glowing-button3-Short::after{
    width: 0.5vw;
    height: 0.3vw;
  }
  .glowing-button3::before,.glowing-button3::after{
    width: 1.7vw;
    height: 0.3vw;
  }




  .glowing-button3-Middle:hover::before{
    left: calc(100% - 3vw);
    width: 1.8vw;
  }
  .glowing-button3-Middle:hover::after{
    right: calc(100% - 3vw);
    width: 1.8vw;
  }

  .glowing-button3-Short:hover::before{
    left: calc(100% - 2.8vw);
    width: 1.5vw;
  }
  .glowing-button3-Short:hover::after{
    right: calc(100% - 2.8vw);
    width: 1.5vw;
  }
  
  .glowing-button3:hover::before{
    left: calc(100% - 4vw);
    width: 2vw;
  }
  .glowing-button3:hover::after{
    right: calc(100% - 4vw);
    width: 2vw;
  }
}
