@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@350&display=swap');

*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/
.CSSgal {
	position: relative;
	overflow: hidden;
	height: 95vh; /* Or set a fixed height */
  border-bottom: solid;
  border-width: 0.2vw;
  border-color: black;
}





/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 55%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: rgba(0, 0, 0, 1);
	position: absolute;
	width:       1.5rem;
	height:      1.5rem;
	line-height: 1.5rem;
  color: white;
  font-size: 1.3rem;
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 0.5vw 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:      10px;
	height:     10px;
	text-decoration: none;
	text-align: center;
	background: rgba(70, 70, 70, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgb(101, 111, 255) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(51, 51, 51, 0.7);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(0, 0, 0,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(0, 0, 0,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(0, 0, 0,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(0, 0, 0,   1);}
#s5:target ~ .bullets >*:nth-child(5) {background: rgba(0, 0, 0,   1);}
#s6:target ~ .bullets >*:nth-child(6) {background: rgba(0, 0, 0,   1);}
#s7:target ~ .bullets >*:nth-child(7) {background: rgba(0, 0, 0,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#s7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#s6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#s7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #fff;	
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,1);
	text-decoration: none;
}

.OPIS{
  position: absolute;
  align-items: center;
  width: 100%;
  height: 2vw;
  color: black;
  font-size: 1.2vw;
  font-weight: bold;
  padding-top: 0.5vw;
}

.SubSet{
  vertical-align: top;
  position: relative;
  font-size: 0.8vw;
	bottom: 0.55vw;
}

.SupSet{
	vertical-align: top;
	position: relative;
	font-size: 0.8vw;
	top: -1.2vw;
  }

.NaslovČlanka{
	display: flex;
	font-family: 'roboto slab';
	font-weight: bold;
	font-size: 1.2vw;
	justify-content: center;
	padding-top: 0.5vw;
	vertical-align: middle;
}

.TekstČlanka{
	display: flex;
	font-family: 'roboto slab';
	font-size: 0.9vw;
	padding: 0.8vw;
	justify-content: center;
}

.Slikica{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.Okvir{
	height: 15vw;
	width: 100%;
	display: flex;
}

.Autor222{
	font-family: 'roboto slab';
	display: flex;
	padding: 0.5vw;
	font-size: 0.9vw;
	justify-content: space-between;
}

.AutorIme{
	font-family: 'roboto slab';
	font-size: 0.9vw;
}

.Datum{
	font-family: 'roboto slab';
	font-size: 0.9vw;
}

.pGraf{
	flex: 1;
	text-align: center;
	font-family: 'roboto slab';
	font-size: 1.1vw;
}

@media (max-width: 1399px) {
	.CSSgal{
		height: 50vh;
	}
	.CSSgal .bullets > a {
		width: 0.7vh;
		height: 0.7vh;
	}
	.CSSgal .prevNext a {
		width: 3vh;
		height: 10vh;
		font-size: 2vh;
		line-height: 10vh;
		border-radius: 0;
	}
	.OPIS{
		font-size: 1.3vh;
	}
	.SupSet{
		font-size: 1vh;
		top: -1.3vh;
	}
	.SubSet{
		font-size: 1vh;	
		bottom: 0.7vh;
	}
	.CSSgal .bullets {
		margin-bottom: -0.5vh;
	}
}
