@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
}

.Zaglavlje{
  display: flex;
  width: 100%;
  height: 3.5vw;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 183, 255);
  border-bottom: solid;
  border-bottom-width: 0.2vw;
}

.Lijevo1{ /*bez 1*/
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50%;
  height: fit-content;
  border: none;
}

.Desno1{ /*bez 1*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  height: fit-content;
  border: none;
  margin-right: 1vw;
}

.Gumb-Naslovnica{
  display: flex;
  border: none;
  margin-left: 1.5vw;
  width: 100%;
  height: 2.5vw;
  font-size: 1.7vw;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 183, 255);
}
.Gumb-Naslovnica:hover{
  opacity: 0.5;
  cursor: pointer;
}
.Gumb-Naslovnica:active{
  opacity: 1;
  color: rgb(255, 255, 255);
}

.Gumb-Galerija{ /* test */
  display: flex;
  border: none;
  width: 100%;
  height: 2.5vw;
  font-size: 1.7vw;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 183, 255);
}
.Gumb-Galerija:hover{
  opacity: 0.5;
  cursor: pointer;
}
.Gumb-Galerija:active{
  opacity: 1;
  color: rgb(255, 255, 255);
}

.Gumb-Minerali{ /* test */
  display: flex;
  border: none;
  width: 100%;
  height: 2.5vw;
  font-size: 1.7vw;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 183, 255);
}
.Gumb-Minerali:hover{
  opacity: 0.5;
  cursor: pointer;
}
.Gumb-Minerali:active{
  opacity: 1;
  color: rgb(255, 255, 255);
}

.Gumb-PSE{ /* test */
  display: flex;
  border: none;
  width: 100%;
  height: 2.5vw;
  font-size: 1.7vw;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 183, 255);
}
.Gumb-PSE:hover{
  opacity: 0.5;
  cursor: pointer;
}
.Gumb-PSE:active{
  opacity: 1;
  color: rgb(255, 255, 255);
}

.dec-none{
  text-decoration: none;
  margin-right: 1.82vw;
  border-radius: 2vw;
}